{% include base_path %}

<header class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <!-- Hidden title for search engines -->
        <h1 class="site-title" style="display: none;">{{ site.title }}</h1>
        <!-- Visible links -->
        <ul class="visible-links">
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <!-- Add a hamburger menu for mobile if needed -->
      </nav>
    </div>
  </div>
</header>